/* Write your CSS here */
* {
  margin: 0px;
  padding: 0px;
}
.appstore-container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  background-size: cover;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}
.apps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
}
.search-icon {
  width: 24px;
  height: 24px;
}
.input-element {
  height: 24px;
  width: 238px;
}
.search-container {
  margin-top: 15px;
  display: flex;
}
